html {
  margin: 0;
  padding: 0;
  background-color: gray;
}

body {
  font-size: 10pt;
  font-family: Optima, Helvetica, sans-serif;
  width: 96%;
  background-color: white;
  color: black;
  padding: 0;
  margin: 30px auto;
  border: 1px solid black;
  -moz-border-radius:8px;
  -khtml-border-radius:8px;
}

form {
  margin: 0;
}

/* Show hyperlinks without underscore */
a:visited, a:link, a:active
   {
    text-decoration: none;
   }

.label {
  display: block;
  padding: 3px 8px;
  color: black;
  font-size: 10pt;
  margin-left: 10px;
}

.label_for_type_string:before {
  /* content: url(../images/text.png); */
}

.label_for_type_int:before {
  /* content: url(../images/number.png); */
}

.label_for_type_calendarTime:before {
  content: url(../images/time.png);
}

.label_for_type_relation:before {
  /* content: url(../images/foreign.png); */
}

.type_string {
  font-size: 10pt;
}

.type_int {
  font-size: 10pt;
}

.type_bool {
  font-size: 10pt;
}

.type_calendartime {
  font-size: 10pt;
}


input, select {
  font-size: 10pt;
  margin-left: 5px;
}

.widelist ul li {padding: 5px;} 

table{
  border-spacing: 1px;
  background: #E7E7E7;
  color: #666666;
  margin: 10px 0 10px 20px;
}

td, th{
  padding:4px 8px;
}

tr{
  background:#EBF8FE;
  text-align:left;
}

table tr:hover {
  background: #F9F9F9;
}

.alertentry {
  background: white;
  color: red;
}

h1 {
  margin: 10px 0 15px 20px;
  font-size: 20pt;
}

h2 {
  margin: 5px 0 5px 20px;
  font-size: 18pt;
}

h3 {
  margin: 5px 0 5px 20px;
}

h4 {
  margin: 5px 0 5px 20px;
}

p {
  margin: 10px 20px 10px 20px;
  font-size: 10pt;
}

pre {
  margin: 10px 20px 10px 20px;
  font-size: 10pt;
}

div.debug {
  margin: 0;
  padding: 10px;
  color: #888888;
  font-size: 8pt;
  font-family: courier;  
}

.debug p {
  margin: 0;
  padding: 0;
  text-align: right;
}

div.header {
  margin: 0;
  padding: 5px;
  background-color: #DDDDDD;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -khtml-border-radius: 8px;
}

.header table{
  width: 100%;
  border-spacing: 0px;
  background: rgb(48,60,135);
  margin: 0;
}

.header tr{
  background:  rgb(48,60,135);
}

.header tr:hover {
  background: rgb(48,60,135);
}

.header td, th{
  padding: 0px 0px;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: 16pt;
  text-align: center;
}

.headertitle
    {
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    }

 .headertitle a[href] {
    color: white;
 }

.pagemessage {
  margin: 0;
  padding: 5px;
  color: red;
  background-color: #eeeeee;
  font-size: 10pt;
}

.menu ul {
  list-style: none;
  margin: 0;
}

.menu li {
  float: left;
  margin: 0;
  padding: 0;
}

.menu li a {
  display: block;
  background-color: #DDDDDD;
  padding: 5px;
  margin: 5px;
  font-size: 10pt;
  color: black;
  text-decoration: none;
  min-width: 60px;
  text-align: center;
  -moz-border-radius:8px;
  -khtml-border-radius:8px;
}

/* style for hrefs as a button */
.buttonhref a {
  background-color: #DDDDDD;
  padding: 5px;
  font-size: 10pt;
  font-weight: normal;
  color: black;
  text-decoration: none;
  min-width: 60px;
  text-align: center;
  -moz-border-radius:8px;
  -khtml-border-radius:8px;
}

/* style for the main contents of the application */
.contents {
  background-color: white;
}

.footer {
  font-size: 10pt;
  font-style: italic;
}

.footer p {
  margin: 50px 0 8px;
  height: 50px;
  width: 100%;
  text-align: center;
}

.footer img {
  vertical-align: middle;  
}

.footer a img {
  border-width: 0px;
  vertical-align: middle;  
}

.studyprogram {
  font-size: 12pt;
}
.category {
  background-color: #DDDDDD;
  font-weight: bold;
}
